@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.footer {
  justify-content: center;
  padding: 0 v.$padding;
  border-top-right-radius: v.$radius;
  background-color: rgb(v.$tn1, 0.6);

  @include d.flex($ali: center, $dir: row);

  &-logo {
    @include d.flex($ali: center, $dir: row);

    &__icon {
      width: 25px;
      height: 25px;
      border: 2.5px solid rgb(v.$bg1);
      border-radius: 50%;
    }

    p {
      font-weight: bolder;
      color: rgb(v.$fn1);
      text-transform: uppercase;
    }
  }
}
