/* stylelint-disable property-no-vendor-prefix */
@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/pointActive' as po;

.colorsTools {
  position: absolute;
  z-index: 1;
  top: v.$padding;
  left: 50%;
  transform: translateX(-50%);

  justify-content: center;

  @include d.flex($dir: row, $gap: v.$padding * 1.5, $ali: center);

  &-colors,
  &-section {
    border-radius: v.$radius;
    background-color: rgb(v.$bg1, 0.3);
    backdrop-filter: blur(20px);
  }

  &-section {
    width: fit-content;
    padding: v.$padding * 0.5;

    @include d.flex($dir: row, $ali: center);
  }

  &-colors {
    gap: 0;
    min-width: 200px;
    max-width: fit-content;
    padding: 0 v.$padding;
  }

  &-color {
    position: relative;
    display: block;
    padding: v.$padding 6px;

    div {
      pointer-events: none;

      width: v.$icon;
      min-width: v.$icon;
      height: v.$icon;
      border: 2px solid transparent;
      border-radius: 3px;

      transition: border-radius 0.3s ease-in-out;
    }

    @include po.pointActive {
      div {
        border-color: rgb(v.$tn1);
        border-radius: 50%;
      }
    }
  }

  &-action {
    padding: 5px;

    @include po.pointActive {
      border-color: rgb(v.$tn1);
    }
  }
}
