@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

$pixelSize: 15px;

.canvasBoard {
  @include d.flex($dir: row);

  &-addFrame {
    display: grid;
    place-content: center;

    border: 2px dashed transparent;
    border-radius: v.$radius;

    background-color: rgb(v.$bg3, 0.2);

    transition: border-color 0.5s;

    &:hover {
      border-color: rgb(v.$tn2);
    }

    svg {
      width: 80px;
      height: 80px;

      filter: drop-shadow(2px 2px 0 rgb(v.$tn1)) drop-shadow(-2px -2px 0 rgb(v.$fn2));

      stroke: rgb(v.$bg3);
      stroke-width: 3px;
    }
  }
}
