@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.canvasDraw {
  pointer-events: none;
  content-visibility: auto;

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  &.active {
    pointer-events: all;
    opacity: 1;
  }
}
