@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

$actionWidth: 70px;

.boardFrame {
  counter-increment: frame-counter;
  position: relative;

  &::before {
    content: '';

    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    border-radius: v.$radius;

    background-color: rgb(v.$tn1);
  }

  &-button {
    position: relative;

    overflow: hidden;

    width: $actionWidth;
    height: $actionWidth;
    border: 2px solid rgb(v.$bg3);
    border-radius: v.$radius;

    background-color: rgb(v.$bg2);

    &::before {
      content: 'C-' counter(frame-counter, decimal-leading-zero);

      position: absolute;
      bottom: 0;
      left: 0;

      padding: v.$padding * 0.5;
      border-top-right-radius: v.$radius;

      font-family: v.$font2;
      font-size: v.$fH5;
      color: rgb(v.$fn2);

      background-color: rgb(v.$bg3);
    }
  }

  &-image {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-controls {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);

    padding: 5px;
    border: 2px solid rgb(v.$bg3);
    border-radius: v.$radius;

    background-color: rgb(v.$bg1);

    @include d.flex;
  }

  &.selected {
    &::before,
    .boardFrame-button {
      transition: transform 0.25s ease-in-out;
      transition-delay: 0.3s;
    }

    &::before {
      transform: rotateZ(-15deg);
    }

    .boardFrame-controls {
      transform: rotateZ(-30deg) translate(70%, -60%) scale(1.1);
      border-color: rgb(v.$tn1);
      transition: transform 0.25s ease-in-out;
      transition-delay: 0.3s;
    }

    .boardFrame-control svg {
      stroke: rgb(v.$tn1);
    }

    .boardFrame-button {
      transform: rotateZ(15deg);
      border-color: rgb(v.$tn1);

      &::before {
        font-weight: bolder;
        color: rgb(v.$fnA);
        background-color: rgb(v.$tn1);
      }
    }
  }
}
