@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

$actionWidth: 70px;

.boardFrames {
  position: absolute;
  bottom: v.$padding * 2;
  left: 50%;
  transform: translateX(-50%);

  max-width: 90%;
  border-radius: v.$radius;

  background-color: rgb(v.$bg1, 0.3);
  backdrop-filter: blur(20px);

  &-action {
    display: grid;
    place-content: center;

    width: $actionWidth;
    min-width: $actionWidth;
    height: $actionWidth;
    border: 2px solid rgb(v.$bg3);
    border-radius: v.$radius;

    background-color: rgb(v.$bg2);
  }
}
