@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.utilsTools {
  flex-wrap: wrap;

  @include d.flex($ali: center, $dir: row);

  justify-content: center;

  &-wrapper {
    overflow: hidden;

    width: 85px;
    max-width: 85px;
    height: 90px;
    padding: v.$padding;
    border-radius: v.$radius;

    background-color: rgb(v.$bg3);

    @include d.flex($ali: center);

    p {
      width: 100%;
      padding: 3px v.$padding;
      border-radius: 3px;

      text-align: center;

      background-color: rgb(v.$bg1);
    }
  }

  &-actions {
    @include d.flex($ali: center, $dir: row);

    button.active svg {
      stroke: rgb(v.$tn2);
    }
  }
}
