@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/pointActive' as po;

.leftTools {
  @include d.flex($ali: center, $gap: v.$padding * 2);

  overflow: hidden;
  height: 100%;

  &-logo {
    transform: rotateZ(180deg);

    justify-content: center;

    width: 100%;
    height: fit-content;
    min-height: 110px;
    padding: v.$padding 3px;
    border-radius: 5px;

    writing-mode: vertical-rl;

    @include d.flex($ali: center, $dir: row);

    h1 {
      color: rgb(v.$fnA);
    }

    svg {
      transform: rotateZ(90deg);
      width: 20px;
      height: 20px;
    }
  }

  &-section {
    @include d.flex($ali: center);

    padding: v.$padding 5px;
    border-radius: v.$radius;
    background-color: rgb(v.$bg2);
  }

  &-tool {
    position: relative;
    padding: v.$padding * 0.5;

    @include po.pointActive {
      svg {
        stroke: rgb(v.$fn1);
      }
    }
  }
}
