/* stylelint-disable property-no-vendor-prefix */
@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/pointActive' as po;

.leftTools {
  @include d.flex($ali: center, $gap: v.$padding * 3);

  &-logo {
    position: relative;

    justify-content: center;

    width: 100%;
    min-height: 100px;
    margin-top: v.$padding * 2;

    @include d.flex($ali: center);

    div {
      position: relative;
      transform-style: preserve-3d;
      transform: rotateZ(-90deg);

      width: max-content;
      padding: 3px v.$padding;
      border-radius: 5px;

      background-color: rgb(v.$tn1);

      @include d.flex($ali: center, $dir: row);
    }

    h1 {
      font-size: v.$fH5;
    }
  }

  &-drawingTools {
    @include d.flex($ali: center);
  }

  &-drawingTool {
    position: relative;
    padding: v.$padding * 0.5;

    @include po.pointActive {
      svg {
        stroke: rgb(v.$fn1);
      }
    }
  }
}
