@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.rightTools {
  padding: v.$padding;

  @include d.flex;

  &-container {
    height: 100%;
    padding: v.$padding;
    border-radius: v.$radius;
    background-color: rgb(v.$bg2);
  }
}
