@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.app {
  position: relative;

  overflow: hidden;
  display: grid;
  grid-template-areas:
    'leftTools draw colors rightTools'
    'leftTools draw colors rightTools'
    'leftTools draw colors rightTools'
    'footer footer footer footer';
  grid-template-columns: 50px 1fr 50px 300px;
  grid-template-rows: repeat(3, 1fr) 40px;

  width: 100%;
  height: 100%;

  &-footer {
    grid-area: footer;
  }

  &-leftTools,
  &-colors,
  &-rightTools {
    padding: v.$padding;
    border: 1.5px solid rgb(v.$bg1);
    background-color: rgb(v.$bg2);
  }

  &-leftTools {
    grid-area: leftTools;
  }

  &-draw {
    overflow: hidden;
    grid-area: draw;
  }

  &-colors {
    grid-area: colors;
  }

  &-rightTools {
    grid-area: rightTools;
  }
}
