@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.app {
  position: relative;

  overflow: hidden;
  display: grid;
  grid-template-areas:
    'leftTools draw navTool rightTools'
    'leftTools draw navTool rightTools'
    'leftTools draw navTool rightTools'
    'footer footer footer rightTools';
  grid-template-columns: 50px 1fr 35px 300px;
  grid-template-rows: repeat(3, 1fr) 25px;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  &-footer {
    grid-area: footer;
  }

  &-navTools {
    grid-area: navTool;
  }

  &-leftTools {
    @extend %scroll-hidden;

    overflow: auto;
    grid-area: leftTools;
    padding: v.$padding * 2 v.$padding;
  }

  &-draw {
    overflow: hidden;
    grid-area: draw;
    background-image: radial-gradient(rgb(v.$fn1, 0.1) 0.5px, transparent 0);
    background-size: 10px 4px;
  }

  &-rightTools {
    grid-area: rightTools;
  }
}
