/* stylelint-disable property-no-vendor-prefix */
@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/browser' as br;

.app {
  position: relative;

  overflow: hidden;
  display: grid;
  grid-template-areas: 'tools canvas layers';
  grid-template-columns: 270px 930px 1fr;
  grid-template-rows: 100vh;
  gap: v.$padding;

  width: 100%;
  height: 100%;

  &-gradient {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);

    width: 650px;
    height: 650px;
    border-radius: 50%;

    background-image: v.$gr3;
    filter: blur(500px);

    @include br.browsers(firefox) {
      display: none;
    }
  }

  &-tools {
    grid-area: tools;
    padding: v.$padding * 3 v.$padding * 2;
  }

  &-layers {
    grid-area: layers;
    background-image: v.$gr2;
  }

  &-canvas {
    grid-area: canvas;
    justify-content: center;
    padding: v.$padding 0;

    @include d.flex($ali: center);

    &__wrapper {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-image: v.$gr2;
    }
  }
}
