@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.zoomController {
  max-height: 250px;
  background-color: rgb(v.$bg1);

  @include d.flex;

  &-options {
    @include d.flex($dir: row, $ali: center);

    button {
      @include d.flex($dir: row, $ali: center, $gap: 5px);

      padding: 2px v.$padding;
      border-radius: v.$radius;
      color: rgb(v.$fn2);
      background-color: rgb(v.$bg2);

      &.active {
        color: rgb(v.$bg1);
        background-color: rgb(v.$tn1);
      }
    }
  }

  &-canvasViewer {
    cursor: move;

    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr;

    width: 100%;
    min-width: 250px;
    height: 200px;
  }
}
