@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.layers {
  --s-grid: 15px;

  position: relative;

  overflow: hidden;

  border: 2px dashed transparent;
  border-radius: v.$radius;

  opacity: 1;
  background-color: rgb(v.$bg2);

  &.disable {
    cursor: pointer;
    opacity: 0.5;
    background-color: rgb(v.$bg3, 0.2);
    transition:
      opacity 0.5s ease-in-out,
      border-color 0.1s ease-in-out;

    canvas {
      pointer-events: none;
    }

    &:hover {
      border-color: rgb(v.$tn1);
      opacity: 1;
    }
  }

  &-background,
  &-grid,
  &-cross {
    pointer-events: none;
    user-select: none;

    position: absolute;
    inset: 0;

    display: none;

    width: 100%;
    height: 100%;
    border-radius: v.$radius;
  }

  &-background {
    opacity: 0.8;
    background:
      conic-gradient(rgb(v.$bg2) 25%, rgb(v.$bg3) 25% 50%, rgb(v.$bg2) 50% 75%, rgb(v.$bg3) 75%),
      conic-gradient(from 45deg, rgb(v.$bg2) 25%, rgb(v.$bg3) 25% 50%, rgb(v.$bg2) 50% 75%, rgb(v.$bg3) 75%);
    background-color: rgb(v.$bg1);
    background-position: 0 0;
    background-size: v.$pixelSize v.$pixelSize;
  }

  &-grid {
    z-index: 1;
    background-image:
      linear-gradient(to right, rgb(v.$fn2, 0.1) 1px, transparent 0),
      linear-gradient(to bottom, rgb(v.$fn2, 0.1) 1px, transparent 0);
    background-position: -0.5px -0.5px;
    background-size: var(--s-grid) var(--s-grid);
  }

  &-cross {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 100%;
      height: 0;
      border-top: none;
      border-bottom: 1px dashed rgb(v.$tn1, 0.5);
    }

    &::after {
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 0;
      height: 100%;
      border-right: 1px dashed rgb(v.$tn1, 0.5);
      border-left: none;
    }
  }
}

body {
  &.active-background .layers-background {
    display: block;
  }

  &.active-grid .layers-grid {
    display: block;
  }

  &.active-cross .layers-cross {
    display: block;
  }

  &.active-transparent .layers {
    background-color: transparent;
  }
}
