/* stylelint-disable property-no-vendor-prefix */
@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.dimensionsTools {
  @include d.flex;

  &-list {
    @include d.flex($dir: row);

    flex-wrap: wrap;
    width: 100%;
  }

  &-action {
    padding: 5px v.$padding;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(v.$bg3);
  }
}
