@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/pointActive' as po;

.canvasTools {
  display: grid;
  grid-template-columns: 1fr 160px;
}

.utilityTools {
  flex-wrap: wrap;

  @include d.flex($dir: row);

  align-content: flex-start;
  justify-content: center;

  &-container {
    @include d.flex($ali: center);

    width: 30px;
    height: fit-content;

    p {
      transform: rotateZ(180deg);

      height: 70px;
      padding: 8px;
      border-radius: 5px;

      writing-mode: vertical-rl;
      text-align: center;

      background-color: rgb(v.$bg1);
    }
  }

  &-actions {
    @include d.flex($ali: center, $gap: 5px);

    button {
      padding: 5px;
    }
  }

  &-mirror {
    @include po.pointActive {
      svg {
        stroke: rgb(v.$tn1);
      }
    }
  }
}
